RHT_OCP4_MASTER_API=https://api.na46.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.na46.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na46.prod.nextcle.com
RHT_OCP4_DEV_USER=mczcga
RHT_OCP4_DEV_PASSWORD=d4cb5cea1a504a32a585
RHT_OCP4_GITHUB_USER=shanmugt-hub
RHT_OCP4_QUAY_USER=shanmuganathan_thiagarajan
